section#fce details {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

section#fce details summary {
    list-style: none;
}

section#fce details::before {
    content: "+";
    float: right;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 50px;
}
section#fce details[open]::before {
    content: "-";
    height: max-content;
}
